body {
    background-color: black;
    color: white;
}

h1 {
    font-size: 15vh;
    text-align: center;
    margin-top: 60px;
}

h2 {
    text-align: center;
    font-size: 44px;
}

h3 {
    text-align: center;
    font-size: 25px;
}

.container {
    display: flex;
    justify-content: center;
    height: 10vh;
}
  
.buttons {
    display: flex;
}
  
#start_button, #reset_button {
    margin: 5px;
    width: 20vh;
    border-radius: 20px;
    font-size: 25px;
    color: white;
    font-family: serif;
}

h1, h2, h3, footer, button {
    text-align: center;
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.content {
    flex: 75%;
}

.sidebar {
    flex: 25%;
    box-sizing: border-box;
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    border-radius: 20px;
}


@media (max-width: 768px) {
    .flex-container {
        flex-direction: column;
    }
    
    .content,
    .sidebar {
        flex: 100%;
    }
    .sidebar {
        margin-top: 2vh;
    }
}

hr {
    margin: 25px;
}

.contents {
    text-align: center;
    padding: 10px;
}

.panel_input {
    text-align: center;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 15px;
    font-size: 15px;
    font-family: serif;
    color: white;
    margin: 10px;
}

.panel_buttons {
    padding: 10px;
    background-color: black;
    color: white;
    font-size: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: serif;
}

.panel_buttons:hover {
    border-color: black;
    color: black;
    background-color: white;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  appearance: none;
  margin: 0;
}

svg {
    width: 5vh;
    height: 120px;
    margin: 0 10px 0 10px
}

a:visited {
    text-decoration: none;
    color: white;
}